.btn{
  cursor: pointer;
}

.principal {
  display: flex;
  flex-flow: column;
}

.valendo{
  display: flex;
  flex-flow: column;
}

.time1{
  margin-left: 10%;
}

.footer{
  flex-flow:row
}

.container-time1 {
  flex-flow:column;

}
